.carouselContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: end;
  height: 420px;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  direction: rtl; // Default is RTL
  padding: 10px;
}

.carousel::-webkit-scrollbar {
  display: none; // Hide scrollbar
}

.navButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}
