.card {
  height: 280px;
  width: 270px;
  background-color: #BBBBBB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}

.foodImage {
  position: fixed;
  top: 75px;
}
