.carouselContainer {
  width: 80%;
  margin: auto;
  position: relative;
  padding: 20px 0;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.prevButton {
  left: -50px;
}

.nextButton {
  right: -50px;
}
