$iconHoverColor: #8EAE1B;

.shoppingCart {
  font-size: 30px;
  font-weight: bold;
  color: #4C4C4C;
  margin: 0 30px 80px 0;
}

.attention {
  color: #FF1212;
}

.notFoundText {
  color: #FF1212;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.note{
  color: #4C4C4C;
}

.noteBox {
  font-size: 18px;
  font-weight: bolder;
  margin: 50px 30px;
}

.registration {
  color: #FFFFFF;
  background-color: #487C3E;
  width: 400px;
  height: 80px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
}

.registrationBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration:hover {
  background-color: $iconHoverColor;
}

.refetchBtn {
  background: #FF1212;
  margin: 0 20px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #FF1212;
  color: #FFFFFF;
}

.rating {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  gap: 4px;
}